*{
	font-family: Georgia;
}




body {
background: url("https://365daysofbeinghuman.files.wordpress.com/2016/09/tranzalpine-express-nz.jpg?w=640")
}
{size: cover;}
h1
  {color:white;}}
p
{color:white;}

